<div class="col-12">
    <h3>Benvenuto @UserName nella tua area riservata</h3>
</div>
<div class="col-12">
    <h4>Seleziona una funzione tra quelle seguenti abilitate per il tuo profilo</h4>
</div>
<div class="row">
    &nbsp;
</div>



@code {
    [Parameter]
    public string UserName { get; set; }

}