@page "/testitems"
@* @rendermode InteractiveAuto *@
@rendermode InteractiveWebAssemblyNoPreRender

@inject HttpClient Http
@inject NavigationManager navManager
@inject Microsoft.JSInterop.IJSRuntime JS

<PageTitle>TEST Items</PageTitle>

<h1>Test Items</h1>

<SfGrid DataSource="@Items" >

    <GridColumns>
        <GridColumn Field=@nameof(Item.Id) HeaderText="Item ID" TextAlign="TextAlign.Center" Width="100"></GridColumn>
        <GridColumn Field=@nameof(Item.Text) HeaderText="Descrizione" Width="250"></GridColumn>
        <GridColumn Field=@nameof(Item.Done) HeaderText="Done"  TextAlign="TextAlign.Center" Width="80"></GridColumn>
    </GridColumns>

</SfGrid>

@code {

    static InteractiveWebAssemblyRenderMode InteractiveWebAssemblyNoPreRender = new(false);

    public List<Item> Items { get; set; } = new();

    protected override async Task OnInitializedAsync() {

        @* Items = Enumerable.Range(1, 5).Select(x => new Item() {
                Id = 0 + x,
                Done = true,
                Text = (new string[] { "Testo 1", "Testo 2", "Testo 3", "Testo 4", "Testo 5" })[new Random().Next(5)],
            }).ToList(); *@


        Items = await Http.GetFromJsonAsync<List<Item>>("api/Items") ?? new List<Item>();
    }
}
